.jspsych-content{
    max-width:80%;
}
.info-sheet, .consent ul, .content li{
    text-align:left;
}
label {
    position: relative;
    padding-left: 2.5ch;
    display: block;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  label > [type=radio] {
    position: absolute;
    left: 0;
    top: 0.25rem;
  }

#HREC-approval{
    padding:0.5rem;
    font-size:0.8rem;
    border-style: solid;
    border-width: 1px;
    border-color:grey;
    background-color: lightgrey;
    line-height: 1rem;
}

.flex{
    display:flex;
    flex-direction:row;
    gap:1rem;
}
.flex h2{
    margin-top:0.5rem;
}
.researcher-image, .une-logo{
    flex-grow: 0;
    flex-shrink:0;
    flex-basis: 20%;
}
.une-logo img{
    width:100%;
}
.researcher-image img{
    width:100%;
    border-radius: 50%;
}
.required{
    display:none;
}
.neuron-image{
    width:50%;
}
.stimulus-image{
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.stimulus-image img{
    height:100% ;
    width:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;

}
#clock{
    color: white;
    padding: 5px;
    background: black;
    width: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: fixed;
    bottom: 0px;
    left: 45%;
    right: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}